
/*.heading-font {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.body-font {
  font-family: 'Muli', 'Helvetica', 'Arial', 'sans-serif';
}
.alt-font {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
}*/

html,
body {
  height: 100%;
  width: 100%;
}
body {
  font-family: 'Open Sans', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 400;
}

a {
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  color: #fdcc52;
}
a:hover,
a:focus {
  color: #fcbd20;
}
hr {
  max-width: 100px;
  margin: 25px auto 0;
  border-width: 1px;
  border-color: rgba(34, 34, 34, 0.1);
}
hr.light {
  border-color: white;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 200;
  letter-spacing: 1px;
}

.btn {
    padding: 6px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0px;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}

.btn-primary {
    background: #27AE60;
    color: #ffffff;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary {
    background: #198C49;
}

.btn-primary:active, .btn-primary.active {
    background: #27AE60;
    box-shadow: none;
}

header {
  min-height: auto;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  background-position: center;
  background-image: url("../img/diego-home-2.jpg");
  background-repeat: no-repeat;
}
header .header-content {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 150px 0 50px;
}
header .header-content .header-content-inner {
  position: relative;
  max-width: 500px;
  margin: 0 auto;
}
header .header-content .header-content-inner h1 {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: 30px;
}

.nav>li>a.sr-icons {
    padding: 10px 8px;
}

.navbar-default {
  background-color: white;
  border-color: rgba(34, 34, 34, 0.05);
  -webkit-transition: all 0.35s;
  -moz-transition: all 0.35s;
  transition: all 0.35s;
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
}
.navbar-default .navbar-header .navbar-brand {
  font-family: 'Catamaran', 'Helvetica', 'Arial', 'sans-serif';
  font-weight: 200;
  letter-spacing: 1px;
  color: #fdcc52;
}
.navbar-default .navbar-header .navbar-brand img {
  background-color: #27AE60;
  padding: 5px 18px;
  height: 75px;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fcbd20;
}
.navbar-default .navbar-header .navbar-toggle {
  font-size: 24px;
  color: #FFFFFF;
  padding: 9px 9px;
  border: none;
}
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background: none;
}
.navbar-default .nav > li > a {
  font-family: 'Lato', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 11px;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus,
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #FFFFFF;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #FFFFFF !important;
  background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}

.navbar-default .nav > li.nav-donate-btn-item {
  padding: 25px 15px;
}
.navbar-default .nav > li > a.nav-donate-btn {
  background-color: #27AE60;
  padding: 5px 18px;
  margin-top: 10px;
}

.navbar-default .nav li a .line {
  height: 1px;
  display: block;
  width: 0;
  margin-top: 4px;
  margin-left: 50%;
  background: #FFFFFF;
}

.navbar-default .nav li.active a .line {
  width: 97%;
  margin-left: -1px;
}

@media (pointer: fine) {
  nav ul li .hover:hover .line {
    width: 97%;
    margin-left: -1px;
  }
}

.navbar-fixed-top .navbar-collapse {
  max-height: 347px;
}


section {
  padding: 50px 0;
}
section h2 {
  font-size: 36px;
  font-weight: 600;
  margin: 0px;
}

section .section-content {
  padding: 35px 0px;
}

.bg-primary {
  background: #ffffff;
}

.bg-primary h3 {
  color: black;
}


.bg-primary .fa-eye, .fa-signal, .fa-level-up {
  color: #27ae60;
}

.text-primary {
  color: #fdcc52;
}

section.inspiration-section {
  color: white;
  font-size: 14px;
  letter-spacing: 1.4px;
  background: url("../img/inspiration-bg.jpg");
}

section.inspiration-section .inspiration-subheader {
  font-size: 18px;
  letter-spacing: 1.8px;
}

section.inspiration-section div img {
   height: 500px;
   padding: 40px;
}

section.values-section {
  background-color: white;
}

section.values-section .section-content {
  font-size: 18px;
}

section.bio-section {
  color: white;
  background: url("../img/biography-bg.jpg");
}

section.news-section {
  background-color: white;
}

section.media-section {
   background-color: #ffffff;
}

section.media-section .insta-feed-header h3 {
  font-family: sans-serif;
  font-size: 27px;
  line-height: 36px;
  font-weight: 300;
  color: #292F33;
}

section.media-section #instafeed a {
  display: block;
  margin-bottom: 10px;
}

section.media-section #instafeed a img {
  display: inline-block;
}

section.contact-section {
  color: white;
  background: url("../img/get-in-touch-bg.jpg");
}

section.contribute-section {
   background-color: #ffffff;
   padding-bottom: 0px;
}

footer {
  color: white;
  background-color: #27ae60;
  padding: 60px 0;
  text-align: center;
}
footer a {
  color: white;
}
footer .footer-logo {
  height: 124px;
}
footer .footer-mid-section {
  padding: 20px 0px;
}
footer .footer-social-icons {
  min-width: 250px;
}
footer .footer-social-icons a {
  padding: 0px 10px;
}

.vertical-align {
  display: flex;
  align-items: center;
}

.css3Animate {
  -webkit-transition: all .3s ease-in-out .001s;
  transition: all .3s ease-in-out .001s;
  -moz-transform: all .3s ease-in-out .001s;
}

@media (min-width: 768px) {
  .container {
    width: 100%;
  }
  header {
    min-height: 100%;
  }
  .navbar-right {
    margin-right: 0px;
  }
  .navbar-nav>li>a {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .navbar-nav>li>a.sr-icons {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .navbar-default {
    background-color: transparent;
    border-color: transparent;
  }
  .navbar-default .navbar-header .navbar-brand {
    color: white;
  }
  .navbar-default .navbar-header .navbar-brand:hover,
  .navbar-default .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus {
    color: white;
  }
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix {
    background-color: #27AE60;
    border-color: rgba(34, 34, 34, 0.1);
  }
  .navbar-default.affix .navbar-header .navbar-brand {
    color: white;
  }
  .navbar-default.affix .navbar-header .navbar-brand:hover,
  .navbar-default.affix .navbar-header .navbar-brand:focus {
    color: white;
  }
  .navbar-default.affix .nav > li > a,
  .navbar-default.affix .nav > li > a:focus {
    color: white;
  }
  .navbar-default.affix .nav > li > a:hover,
  .navbar-default.affix .nav > li > a:focus:hover {
    color: white;
  }
  .navbar-default.affix .nav > li > a.nav-donate-btn {
    background-color: white;
    color: #27AE60;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

@media (min-width: 768px) and (max-width: 958px) {
  .navbar-default .nav li:nth-child(-n+5) {
    display: none;
  }
}

@media (max-width: 767px) {
  header {
    margin-top: 68px;
  }
  .navbar-default {
    background-color: #27AE60;
    border: none;
  }
  .navbar-default .navbar-header .navbar-brand img {
    height: 40px;
    padding: 0px 0px 0px 10px;
  }
  .navbar-default .navbar-collapse {
    background-color: #f3f3f3;
    border-width: 0 0 1px;
    border-style: solid;
    border-color: #e7e7e7;
  }
  .navbar-default .nav > li > a,
  .navbar-default .nav > li > a:focus,
  .navbar-default .nav > li > a:hover,
  .navbar-default .nav > li > a:focus:hover {
    color: #222222;
  }
  .navbar-default .nav > li.active > a,
  .navbar-default .nav > li.active > a:focus {
    color: #222222 !important;
    background-color: transparent;
  }
  .navbar-default .nav > li.active > a:hover,
  .navbar-default .nav > li.active > a:focus:hover {
    background-color: transparent;
  }
  .navbar-default .nav li a .line {
    background: #27AE60;
  }
  .navbar-default .nav li.nav-donate-btn-item {
    padding: 0px 15px 15px 15px;
  }
  .navbar-default .nav li.nav-donate-btn-item a {
    color: #FFF;
    padding: 13px 18px;
    margin-top: 0px;
  }
  .navbar-default .nav li:nth-last-child(-n+4) {
    float: left;
    margin-left: 10px;
  }
  section.inspiration-section .inspiration-img {
    height: 300px;
    padding: 40px;
  }
  section.inspiration-section .section-content {
    text-align: center;
  }
  section.contact-section .section-content {
    text-align: center;
  }
  .vertical-align {
    display: block;
  }
}
