section.donate-section {
  padding: 170px 0px 100px 0;
  background-color: #ececec;
}

section.donate-section .section-heading {
  color: #565656;
}

form#payment-form {
  width: 480px;
  margin: 20px auto;
}

form#payment-form .group {
  background: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  margin-bottom: 20px;
}

form#payment-form label {
  position: relative;
  color: #8898AA;
  font-weight: 300;
  height: 40px;
  line-height: 40px;
  margin-left: 20px;
  display: block;
}

form#payment-form .group label:not(:last-child) {
  border-bottom: 1px solid #F0F5FA;
}

form#payment-form label > span {
  width: 20%;
  text-align: right;
  float: left;
}

form#payment-form .field {
  background: transparent;
  font-weight: 300;
  border: 0;
  color: #31325F;
  outline: none;
  padding-right: 10px;
  padding-left: 10px;
  cursor: text;
  width: 70%;
  height: 40px;
  float: right;
}

form#payment-form .field::-webkit-input-placeholder { color: #CFD7E0; }
form#payment-form .field::-moz-placeholder { color: #CFD7E0; }
form#payment-form .field:-ms-input-placeholder { color: #CFD7E0; }

form#payment-form button {
  float: left;
  display: block;
  background: #27AE60;
  color: white;
  box-shadow: 0 7px 14px 0 rgba(49,49,93,0.10),
              0 3px 6px 0 rgba(0,0,0,0.08);
  border-radius: 4px;
  border: 0;
  margin-top: 20px;
  font-size: 15px;
  font-weight: 400;
  width: 100%;
  height: 40px;
  line-height: 38px;
  outline: none;
}

form#payment-form button:focus {
  background: #555ABF;
}

form#payment-form button:active {
  background: #43458B;
}

form#payment-form .outcome {
  float: left;
  width: 100%;
  padding-top: 8px;
  min-height: 24px;
  text-align: center;
}

form#payment-form .success, .error {
  display: none;
  font-size: 13px;
}

form#payment-form .success.visible, .error.visible {
  display: inline;
}

form#payment-form .error {
  color: #E4584C;
}

form#payment-form .success {
  color: #666EE8;
}

form#payment-form .success .token {
  font-weight: 500;
  font-size: 13px;
}