
<% include partials/header.ejs %>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top affix">
         <%- include('partials/nav', {isHomePage: false}); %>
    </nav>

    <section class="donate-section bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>CONTRIBUTE FOR US</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">

                <form action="/charge" method="post" id="payment-form">
                    <div class="group">
                        <label>
                            <span>Name</span>
                            <input name="fullname" class="field" placeholder="Jane Doe" />
                        </label>
                        <label>
                            <span>Email</span>
                            <input name="email" class="field" placeholder="example@gmail.com" />
                        </label>
                        <label>
                            <span>Address</span>
                            <input name="address" class="field" placeholder="123 example Ave" />
                        </label>
                        <label>
                            <span>Phone</span>
                            <input name="phone" class="field" placeholder="800-123-4567" />
                        </label>
                        <label>
                            <span>Occupation</span>
                            <input name="occupation" class="field" placeholder="" />
                        </label>
                        <label>
                            <span>Amount</span>
                            <input name="chargeAmount" class="field" placeholder="0" />
                        </label>
                        </div>

                        <div class="group">
                            <label>
                                <span>Card</span>
                                <div id="card-element" class="field"></div>
                            </label>
                        </div>

                        <button type="submit">Donate</button>
                        <div class="outcome">
                        <div class="error" role="alert"></div>
                        <div class="success">
                            Success! Your Stripe token is <span class="token"></span>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </section>

    <script>
        // Create a Stripe client
        var stripe = Stripe('pk_test_CD7oNmd7vkxeuokuooa5Vja2');

        // Create an instance of Elements
        var elements = stripe.elements();

        // Custom styling can be passed to options when creating an Element.
        // (Note that this demo uses a wider set of styles than the guide below.)
        var style = {
        base: {
            color: '#32325d',
            lineHeight: '24px',
            fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
            fontSmoothing: 'antialiased',
            fontSize: '16px',
            '::placeholder': {
            color: '#aab7c4'
            }
        },
        invalid: {
            color: '#fa755a',
            iconColor: '#fa755a'
        }
        };

        // Create an instance of the card Element
        var card = elements.create('card', {style: style});

        // Add an instance of the card Element into the `card-element` <div>
        card.mount('#card-element');

        // Handle real-time validation errors from the card Element.
        card.addEventListener('change', function(event) {
        // var displayError = document.getElementById('card-errors');
        console.log('result change: ');
        console.log(event);
        // if (event.error) {
        //   displayError.textContent = event.error.message;
        // } else {
        //   displayError.textContent = '';
        // }
        });


        // Handle form submission
        var form = document.getElementById('payment-form');
        form.addEventListener('submit', function(event) {
        event.preventDefault();

        stripe.createToken(card).then(function(result) {
            console.log('result: ');
            console.log(result);
            if (result.error) {
            console.log(result.error);
            // Inform the user if there was an error
            // var errorElement = document.getElementById('card-errors');
            // errorElement.textContent = result.error.message;
            } else {
            // Send the token to your server
            stripeTokenHandler(result.token);
            }
        });
        });

        function stripeTokenHandler(token) {
        // Insert the token ID into the form so it gets submitted to the server
        var form = document.getElementById('payment-form');
        var hiddenInput = document.createElement('input');
        hiddenInput.setAttribute('type', 'hidden');
        hiddenInput.setAttribute('name', 'stripeToken');
        hiddenInput.setAttribute('value', token.id);
        form.appendChild(hiddenInput);

        // Submit the form
        form.submit();
        }
    </script>


<% include partials/footer.ejs %>

    <!-- jQuery -->
    <script src="lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/custom-donate.js"></script>

</body>
</html>
