
<% include partials/header.ejs %>

    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
         <%- include('partials/nav', {isHomePage: true}); %>
    </nav>

    <header id="home">
        <div class="container">
            <div class="row">
                <div class="col-sm-7">
                    <div class="header-content">
                        <div class="header-content-inner">
                            <h1><h1>
                        </div>
                    </div>
                </div>
                <div class="col-sm-5">
                </div>
            </div>
        </div>
    </header>

    <section class="tagline-section bg-primary text-center">
        <div class="container">
            <div class="row">
                <div class="col-xs-12 col-md-4">
                    <div>
                        <i class="fa fa-4x fa-eye  sr-icons"></i>
                        <h3>Vision</h3>
                        <p class="text-muted">Economic Development<br> Job Creation<br> Entrepreneurship</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div>
                        <i class="fa fa-4x fa-signal sr-icons"></i>
                        <h3>Innovate</h3>
                        <p class="text-muted">Public-Private Partnerships<br> Break Beaucratic Barriers<br> Build Businesses</p>
                    </div>
                </div>
                <div class="col-xs-12 col-md-4">
                    <div>
                        <i class="fa fa-4x fa-level-up sr-icons"></i>
                        <h3>Inspire</h3>
                        <p class="text-muted">International Relations<br> Mulri-Cultural Diversity<br> Hoosier Hospitatlility</p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="inspiration" class="inspiration-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="section-heading">
                        <h2>MY INSPIRATION</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 text-center">
                    <img class="inspiration-img" src="/img/DiegoArmyPhoto.jpeg">
                </div>
                <div class="col-md-6">
                    <div class="section-content">
                        <p class="inspiration-subheader">
                            I’m proud to be a 21st century Hoosier-American.
                        </p>
                        <p>
                            I am fortunate to call Indiana "my home" and to know all Hoosiers as "my neighbors." For me, living the American Dream in the Great Hoosier State is a privilege that I never take for granted and it brings with it a duty to serve.  From my service in the U.S. Army to my vast and varied experience in the private and public sectors, I've gained insight into who we are as Americans - and what we need to do to create opportunities within our state and our local communities.
                        </p>
                        <p>
                            My vision is to help Indiana's citizens and businesses be successful. My values reflect those of Hoosiers across the state. My commitment to innovation and my business experience will help us find new, more-efficient ways to govern and to help everyone discover his or her own American Dream. I look to you to guide me as I explore how best to serve you and our great state.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="media" class="media-section">
       <div class="container">
           <div class="row">
               <div class="col-lg-12 text-center">
                   <div class="section-heading">
                       <h2>MEDIA</h2>
                   </div>
               </div>
           </div>
           <div class="row">
                <div class="col-md-6 text-center" >
                    <a class="twitter-timeline" href="https://twitter.com/cdiegomorales" data-tweet-limit="3">Tweets by Diego</a> <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                </div>
                <div class="col-md-6">
                    <div class="insta-feed-header">
                        <h3>Instagram</h3>
                    </div>
                    <div id="instafeed" class="row"></div>
                </div>
           </div>
           </div>
    </section>

    <section id="bio" class="bio-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>BIOGRAPHY</h2>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-content">

                        <ul class="timeline">

                            <li>
                                <div class="tl-circ"></div>
                                <div class="timeline-panel">
                                    <div class="tl-heading">
                                        <h4>CHIEF BUSINESS DEVELOPMENT OFFICER</h4>
                                    </div>
                                    <div class="tl-body">
                                        <p>The Sodrel Holding Companies</p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="tl-circ"></div>
                                <div class="timeline-panel">
                                    <div class="tl-heading">
                                        <h4>ADJUNCT PROFESSOR</h4>
                                    </div>
                                    <div class="tl-body">
                                        <p>Ivy Tech Community College</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="tl-circ"></div>
                                <div class="timeline-panel">
                                    <div class="tl-heading">
                                        <h4>SENIOR ADVISOR TO MIKE PENCE</h4>
                                    </div>
                                    <div class="tl-body">
                                        <p>Office of the Indiana Governor</p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="tl-circ"></div>
                                <div class="timeline-panel">
                                    <div class="tl-heading">
                                        <h4>DIRECTOR OF COMMUNITY RELATIONS TO MIKE PENCE</h4>
                                    </div>
                                    <div class="tl-body">
                                        <p>Office of the Indiana Governor</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="tl-circ"></div>
                                <div class="timeline-panel">
                                    <div class="tl-heading">
                                        <h4>Executive of Business Development, Marketing & Strategy</h4>
                                    </div>
                                    <div class="tl-body">
                                        <p>The Free Enterprise System, Inc. & Subsidiaries</p>
                                    </div>
                                </div>
                            </li>

                            <li class="timeline-inverted">
                                <div class="tl-circ"></div>
                                <div class="timeline-panel">
                                    <div class="tl-heading">
                                        <h4>INFANTRYMAN</h4>
                                    </div>
                                    <div class="tl-body">
                                        <p>U.S. Army</p>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="tl-circ"></div>
                                <div class="timeline-panel">
                                    <div class="tl-heading">
                                        <h4>DIRECTOR OF INTERGOVERNMENTAL AFFAIRS</h4>
                                    </div>
                                    <div class="tl-body">
                                        <p>Office of the Indiana Secretary of State</p>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="values-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>VALUES</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="section-content">
                    <div class="col-lg-12 text-center">
                        Humanitarian • Pro Hoosier • Pro Family • Pro Business  • Pro Job Growth • Pro Free Market
    Pro Tax Reform • Pro Second Amendment • Pro Life
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="contact" class="contact-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>GET IN TOUCH</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                </div>
                <div class="col-md-6">
                    <div class="section-content">
                        <p>
                            I want to serve Indiana in the best way possible. That can only happen if I have an open dialogue with Hoosiers across the state.
                        </p>
                        <p>
                            Please feel free to contact me at anytime with your questions or comments on any topic that concerns you. If I'm not available, I will always strive to get back to you just as soon as I can.
                        </p>
                        <p>
                            I can be reached via email at diego@diegoforindiana.com
                        </p>
                        <p>
                            <a class="btn btn-primary" href="mailto:diego@diegoforindiana.com" role="button">Send Email</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

     <section class="contribute-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-heading">
                        <h2>CONTRIBUTE FOR US</h2>
                        <hr>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="section-content">
                        <p>
                            We welcome your financial support as Diego continues exploring his opportunities to serve Hoosiers.<br>
                            To donate by check, please make the check out to "Diego for Indiana Exploratory Committee" and mail the check to:<br>
                            <span style="font-weight:700">Diego for Indiana Exploratory Committee<br>
                            405 Massachusetts Avenue, Suite 300<br>
                            Indianapolis, IN 46204</span><br>
                            Please include your name, address, phone number and occupation.
                        </p>
                        <p>
                            <a class="btn btn-primary" href="/donate" role="button">Donate</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>

<% include partials/footer.ejs %>
   
    <!-- jQuery -->
    <script src="lib/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="lib/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>

    <!-- Theme JavaScript -->
    <script src="js/custom.js"></script>

    <!-- Instafeed -->
    <script type="text/javascript" src="/js/instafeed.min.js"></script>
    <script type="text/javascript">
        var feed = new Instafeed({
            get: 'user',
            userId: '1510523799',
            clientId: 'b82d00dba4eb4f3498038904925694a8',
            accessToken: '1510523799.b82d00d.3c9d9aac75cb49cb8d9ed540fa826bb6',
            limit: 15,
            template: '<div class="col-md-4 col-sm-4 col-xs-4 text-center"><a href="{{link}}" target="_blank"><img class="img-responsive" src="{{image}}" /></a></div>'
        });
        feed.run();
    </script>

</body>
</html>
