
<footer>
    <div class="container">
        <div class="row vertical-align">
            <div class="col-md-4 text-center">
                <img class="footer-logo" src="img/logo.png" />
            </div>
            <div class="col-md-4 text-center">
                <div class="footer-mid-section">
                    <p>
                        diego@diegoforindiana.com
                    </p>
                    <p>
                        © 2017. Paid for by the Diego for Indiana Exploratory Committee, William N. Salin III, Treasurer.
                    </p>
                </div>
            </div>
            <div class="col-md-4 text-center footer-social-icons">
                <a href="https://www.facebook.com/Diego-Morales-1572720369644618/" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
                <a href="https://twitter.com/cdiegomorales?lang=en" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
                <a href="https://www.instagram.com/cdiegomorales/" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
                <a href="https://www.linkedin.com/in/diego-morales-8723426/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
            </div>
        </div>
    </div>
</footer>
