
<div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <i class="fa fa-bars"></i>
        </button>
        <% if (isHomePage) { %>
            <a class="navbar-brand page-scroll" href="#home">
        <% } else { %>
            <a class="navbar-brand page-scroll" href="/#home">
        <% } %>
            <img src="img/logo.png" /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <% if (isHomePage) { %>
                    <a class="page-scroll hover" href="#home">
                <% } else { %>
                    <a class="page-scroll hover" href="/#home">
                <% } %>
                    Home <span class="line css3Animate"></span></a>
            </li>
            <li>
                <% if (isHomePage) { %>
                    <a class="page-scroll hover" href="#inspiration">
                <% } else { %>
                    <a class="page-scroll hover" href="/#inspiration">
                <% } %>
                    Inspiration <span class="line css3Animate"></span></a>
            </li>
            <li>
                <% if (isHomePage) { %>
                    <a class="page-scroll hover" href="#media">
                <% } else { %>
                    <a class="page-scroll hover" href="/#media">
                <% } %>
                    Follow <span class="line css3Animate"></span></a>
            </li>
            <li>
                <% if (isHomePage) { %>
                    <a class="page-scroll hover" href="#bio">
                <% } else { %>
                    <a class="page-scroll hover" href="/#bio">
                <% } %>
                    Biography <span class="line css3Animate"></span></a>
            </li>
            <li>
                <% if (isHomePage) { %>
                    <a class="page-scroll hover" href="#contact">
                <% } else { %>
                    <a class="page-scroll hover" href="/#contact">
                <% } %>
                    Contact <span class="line css3Animate"></span></a>
            </li>
            <li class="nav-donate-btn-item">
                <a class="nav-donate-btn" href="/donate">Donate</a>
            </li>
            <li>
                <a class="sr-icons" href="https://www.facebook.com/Diego-Morales-1572720369644618/" target="_blank"><i class="fa fa-2x fa-facebook"></i></a>
            </li>
            <li>
                <a class="sr-icons" href="https://twitter.com/cdiegomorales?lang=en" target="_blank"><i class="fa fa-2x fa-twitter"></i></a>
            </li>
            <li>
                <a class="sr-icons" href="https://www.instagram.com/cdiegomorales/" target="_blank"><i class="fa fa-2x fa-instagram"></i></a>
            </li>
            <li>
                <a class="sr-icons" href="https://www.linkedin.com/in/diego-morales-8723426/" target="_blank"><i class="fa fa-2x fa-linkedin"></i></a>
            </li>
        </ul>
    </div>
    <!-- /.navbar-collapse -->
</div>
<!-- /.container-fluid -->